*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
header{
    background-color: #0F3CC9;
    
}
.container{
    width: 80%;
    margin: 0 auto;
    height: 72px;
}
.left{
    float: left;
}
.logo{ 
    float: left;
    margin: 8px 30px 0 0;
}
.logo img{
    height: 50px;
    width: 50px;
} 
nav{ 
    margin: 23px;
    float: left;
}
nav ul li {
    display: inline;
    padding: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
}
nav ul li a:hover{
    color: #FFFFFF;
    text-decoration: underline;
} 
.right{
    float:right;
}
.seach{
     background-color: #E8E8FC;
    border-radius: 100%;
    padding: 10px; 
    font-size: 13px;
    color: black;
}
.user {
    background-color: #E8E8FC;
    border-radius: 100%;
    padding: 10px;
    font-size: 13px; 
    color: #0F3CC9;
}
.right nav ul li {
    display: inline;
    padding: 0 5px;
}

     
